@font-face {
  font-family: "Wanted Sans Variable";
  src: url("/fonts/WantedSansVariable.woff2") format("woff2-variations"), url("/fonts/WantedSansVariable.woff2") format("woff2");
  font-weight: 400 950;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg: #efeeec;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background: var(--bg);
  overflow: hidden;
}

#__next {
  display: grid;
  place-items: center;
}
